<div class="body pb-6">
  <div class="header fixed pl-3 pt-1 pr-5 flex justify-between items-center">
    <div class="z-10 logo">
      <img src="../../assets/bb logo.png" alt="" />
    </div>
    <div class="">
      <p class="font-bold text-color text-2xl">BIGBREW</p>
    </div>
    <div class="hamburger-menu">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div>
    <img src="../../assets/bbg1.jpg" alt="" />
  </div>

  <div class="pl-4 pr-4 pt-4 mb-4">
    <p class="font-bold headline text-4xl">Adding Moments of Perfect Sip</p>
    <p class="mt-4 text-white text-base xl:text-xl">
      Lorem ipsum dolor sit amet. Ut soluta accusamus et nulla accusamus ex
      assumenda odit. Aut tenetur laudantium non Quis facere a nihil dignissimos
      et placeat debitis ut amet dolor.
    </p>

    <button class="mt-4">
      <span class="font-bold">ORDER NOW</span>
    </button>
  </div>
</div>
